<script>
    if ( ("@MEMORY('role')" != 'user') && ("@MEMORY('role')" != 'admin') )  location.href='/module/users/login';
</script>
<h2>Deleted Rows / Trash Bin</h2>
@flash()
<a href="/">Go back to Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/settings/index">Go Back to List</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/settings/add">Add New</a>
<hr>
Edit/Save a record to un-delete it.  Use the DEL button to remove from Trash
<hr>
<p>
    @app_admin_view('settings')
</p>


<script>
        
$(document).ready(function() {
    $(document).on('click', '.deletelink', function(event) {
        var buttonText = $(this).html();
        if (confirm('Move to Trash, are you sure?')) {
            
            rel = $(this).attr('rel');
            //window.open('/settings/delete/' + rel, '_blank');   
            window.location.href = '/settings/delete/' + rel + '/' + buttonText;
        }
    });
    $(document).on('click', '.editlink', function(event) {
        rel = $(this).attr('rel');
        //window.open('/settings/edit/' + rel, '_blank');   
        window.location.href = '/settings/edit/' + rel;
    });
    $('#myTable').DataTable({
        "rowCallback": function(row, data, index) {
            if (index % 2 === 0) {
                $(row).css('background-color', '#aaffaa'); // Light grey
            } else {
                $(row).css('background-color', '#ccffcc'); // White
            }
        },
        createdRow: function(row, data, dataIndex) {
            // Add attributes to cells
            //$('td', row).eq(1).attr('title', 'law firm currently assigned lead');
            //$('td', row).eq(6).attr('title', 'lead sought medical treatment');
            //$('td', row).eq(7).attr('title', 'lead has determined fault');
        },
        columns: [
            {
                data: 'id',
                name: 'id',
                className: 'nowrap',
                render: function(data, type, row) {
                    var ret = '';
                    console.log(row);
                        
                    ret += '<button class="editlink btn btn-sm btn-warning" rel="' + data + '">Edit</button>';
                    ret += '&nbsp;<button class="deletelink btn btn-sm btn-danger" rel="' + data + '">Del</button>';
                    
                    //ret += '<span id="clock' + data + '">' + jclock(row.created_at) + '</span>';
                    //ret += '<span id="audio' + data + '">' + jaudio(row.mp3file) + '</span>';

                    return ret;
                },
                orderable: false // Disable ordering on this column
            },

            
             { data: 'category_name', name: 'category_name', visible: true , orderable: true},
             { data: 'setting_name', name: 'setting_name', visible: true , orderable: true},
             { data: 'setting_value', name: 'setting_value', visible: true },
             { data: 'description', name: 'description', visible: true },
             { data: 'created_at', name: 'created_at', visible: false },
             { data: 'updated_at', name: 'updated_at', visible: false },
             { data: 'deleted_at', name: 'deleted_at', visible: false }

        ],
        order: [[2, 'desc']],
       // dom: 'lBfrtip', // Include the Buttons extension
        dom: '<"top"lf>     <"top"B> rt<"bottom"ip><"clear">', // Include the Buttons extension
        buttons: [
            'csv', 'excel', 'pdf', 'print'
        ],
        lengthMenu: [ // Add this line to specify the number of rows per page options
            [10, 25, 50, 100], // Page lengths
            [10, 25, 50, 100]  // Display values
        ],
        pageLength: 25, // Default page length
        initComplete: function(settings, json) {
            // Add padding to the left of the buttons container

            console.log('DT app_settings Init Complete');

            $('.dt-buttons').wrap('<div class="buttons-container"></div>');
            $('.dt-buttons').wrap('<div class="buttons-container"></div>');
            $('.dt-buttons').wrap('<div class="buttons-container"></div>');

        }
    });
});

</script>
<style>
    .nowrap {
        white-space: nowrap;
    }
</style>

