<!-- This is the default home view for an unspecified domain -->
@body()

<h3>Yore Framework - Home Page</h3>
<hr>
Todo:
<ol>
    <li>Make this a useful home page</li>
    <li>Add links to documentation</li>
    <li>Add links to example apps</li>
    <li>Add links to download Yore</li>
    <li>Put a bunch of random stuff in the menus</li>
    <li>Let the user log in, log out, and register but not store anything</li>
    <li>Let the user add the database config</li>
    <li>Let the user run a migration to create the user table</li>
    <li>Let the user clone an app into a domain. (You can delete the domain folder or hit the server with a different domain name to get this page back)</li>
    <li>Someday we'll have an application generator wizard tool here and use AI too!</li>
    <li>Plugin Boilerplate, Module generator, code snippets and documentation</li>
    <li>Bootstrap samples, page layouts, elements, menus, dialogs, etc</li>
</ol>