<script>
    if ( ("@session('role')" != 'admin') && ("@session('role')" != 'readonly') )  location.href='/module/users/login';
</script>
<!--<h1>CRUD GENERATED EDIT PAGE - @session('username') (@session('role'))</h1>-->
@flash()
<a href="/<?= $site ?>/index">Go back to Index</a>
<hr>
<p>
    <h4><?= $title ?></h4>
    @form('post')
    @<?= $prefix ?>_post("edit<?= $site ?>")
    <!-- content -->
    <?= $content ?>
    <!-- end content -->
    @submit('Save')
    @endform()
</p>
<pre>@fetch("SELECT * FROM <?= $table ?> WHERE ID=@arg(1)") Columns in 1 row</pre>
