<style>
    pre {
        line-height: 1;
        margin: 0;
        padding: 0;
        color: red;
        overflow: hidden;
        font-size:50%;'
    }
</style>
<div>
    <pre>
        @blackrush()
    </pre>
    <h1>Dashboard</h1>
    <form method="post">
        <div>
            <label for="username">Something:<br>
                <input type="text" name="something">
            </label>
        </div>
        <div>
            <label for="password">Something:<br>
                <input type="text" name="something">
            </label>
        </div>
        <div>
            <input type="submit" value="Something" class="btn btn-primary">
        </div>
    </form>
    <hr>
</div>