<script>
    if ( ("@MEMORY('role')" != 'user') && ("@MEMORY('role')" != 'admin') )  location.href='/module/users/login';
</script>
<!--<h1>CRUD GENERATED ADD PAGE - @MEMORY('username') (@MEMORY('role'))</h1>-->
@flash()
<a href="/users/index">Go Back to List</a>
<hr>
<p>
    <h4>Add Record</h4>
    @form('post')
    @app_post("addusers")
    <!-- content -->
    
<!-- ADD FIELDS -->

    @input("username","Username","Username:","")
    @input("password","Password","Password:","")
    @input("name","Name","Name:","")
    @input("phone","Phone","Phone:","")
    @email("email","Email","Email:","")


<tr>
    <th>Role:</th>
    <td>
        <select name="role" id="role" style="width:100%;">
            <option value="">-- Pick Role -- </option>
        </select>
    </td>
</tr>


    @checkbox("status","Status","1")
    @textarea("profile","Profile","Profile:","")
    
    
    
<!-- END FIELDS -->
    <!-- end content -->
    @submit('Save')
    @endform()
</p>
