<style>
    body {
        color: #335599;
        font-size: 130%;
        background-image: url(/themes/app/images/blue-curve-background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="lucy">

    Please enter your Username or Email address and you will receive
    an email to recover your password

</div>

<div class="container">

    <div class="row">
        <div class="col-md-12 col-12">
            <div class="lucy">
                <form action="/register/lostpassword" method="post">
                    @app_post('lostpassword')
                    <div>
                        <label for="username">Username:<br>
                            <input type="text" name="username" autocapitalize="off">
                        </label>
                    </div>
                    <div>
                        <label for="xxx">- OR -<br>
                        </label>
                    </div>
                    <div>
                        <label for="email">Email:<br>
                            <input type="email" name="email" autocapitalize="off">
                        </label>
                    </div>

                    <div>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
                <a style="font-size:65%;" href="/module/users/login" class="btn btn-link"><- Back to Login Page</a>
            </div>
        </div>


    </div>

</div>



