<style>
    body {
        color: #335599;
        font-size: 130%;
        background-image: url(/themes/app/images/blue-curve-background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="lucy">

    Please enter a new password

</div>

<div class="container">

    <div class="row">
        <div class="col-md-12 col-12">
            <div class="lucy">
                <form method="post">
                    @app_post('resetpw')
                    <div>
                        <label for="password">New Password:<br>
                            <input type="text" name="password" autocapitalize="off">
                        </label>
                    </div>
                    <div>
                        <label for="password2">Repeat Password:<br>
                            <input type="text" name="password2" autocapitalize="off">
                        </label>
                    </div>

                    <div>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
                <a style="font-size:65%;" href="/module/users/login" class="btn btn-link"><- Back to Login Page</a>
            </div>
        </div>


    </div>

</div>



